$breakpoint--small: 672;
$breakpoint--medium: 1056;
$breakpoint--large: 1312;
$breakpoint--max: 1780;
// $breakpoint--max: >1780;

@mixin breakpoint($size) {
	@media only screen and (max-width: #{$size}px) {
		@content;
	}
}
