@use './fonts.scss' as *;

@mixin typography-family--primary {
	font-family: $font-family--primary;
	line-height: 1.4;
}

@mixin typography-family--secondary {
	font-family: $font-family--secondary;
	line-height: 1.2;
}
